@charset "UTF-8";
/* loaoding 样式 */
#loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: rotate(0);
  animation: loading-keyframes 4s ease-in-out infinite; }
  #loading li {
    list-style-type: none;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0 0 2px 1px #00b07c;
    background: #00b07c;
    border-radius: 50%; }
  #loading .loading-li-1-1 {
    animation: loading-keyframes-1-1 2s ease-in-out infinite;
    top: 28.8px;
    left: 28.8px;
    width: 16px;
    height: 16px; }
  #loading .loading-li-1-2 {
    animation: loading-keyframes-1-2 2s ease-in-out infinite;
    top: 0px;
    left: 28.8px;
    width: 16px;
    height: 16px; }
  #loading .loading-li-1-3 {
    animation: loading-keyframes-1-3 2s ease-in-out infinite;
    top: -28.8px;
    left: 28.8px;
    width: 16px;
    height: 16px; }
  #loading .loading-li-1-4 {
    animation: loading-keyframes-1-4 2s ease-in-out infinite;
    top: -57.6px;
    left: 28.8px;
    width: 16px;
    height: 16px; }
  #loading .loading-li-2-1 {
    animation: loading-keyframes-2-1 2s ease-in-out infinite;
    top: 28.8px;
    left: 0px;
    width: 16px;
    height: 16px; }
  #loading .loading-li-2-2 {
    animation: loading-keyframes-2-2 2s ease-in-out infinite;
    top: 0px;
    left: 0px;
    width: 16px;
    height: 16px; }
  #loading .loading-li-2-3 {
    animation: loading-keyframes-2-3 2s ease-in-out infinite;
    top: -28.8px;
    left: 0px;
    width: 16px;
    height: 16px; }
  #loading .loading-li-2-4 {
    animation: loading-keyframes-2-4 2s ease-in-out infinite;
    top: -57.6px;
    left: 0px;
    width: 16px;
    height: 16px; }
  #loading .loading-li-3-1 {
    animation: loading-keyframes-3-1 2s ease-in-out infinite;
    top: 28.8px;
    left: -28.8px;
    width: 16px;
    height: 16px; }
  #loading .loading-li-3-2 {
    animation: loading-keyframes-3-2 2s ease-in-out infinite;
    top: 0px;
    left: -28.8px;
    width: 16px;
    height: 16px; }
  #loading .loading-li-3-3 {
    animation: loading-keyframes-3-3 2s ease-in-out infinite;
    top: -28.8px;
    left: -28.8px;
    width: 16px;
    height: 16px; }
  #loading .loading-li-3-4 {
    animation: loading-keyframes-3-4 2s ease-in-out infinite;
    top: -57.6px;
    left: -28.8px;
    width: 16px;
    height: 16px; }
  #loading .loading-li-4-1 {
    animation: loading-keyframes-4-1 2s ease-in-out infinite;
    top: 28.8px;
    left: -57.6px;
    width: 16px;
    height: 16px; }
  #loading .loading-li-4-2 {
    animation: loading-keyframes-4-2 2s ease-in-out infinite;
    top: 0px;
    left: -57.6px;
    width: 16px;
    height: 16px; }
  #loading .loading-li-4-3 {
    animation: loading-keyframes-4-3 2s ease-in-out infinite;
    top: -28.8px;
    left: -57.6px;
    width: 16px;
    height: 16px; }
  #loading .loading-li-4-4 {
    animation: loading-keyframes-4-4 2s ease-in-out infinite;
    top: -57.6px;
    left: -57.6px;
    width: 16px;
    height: 16px; }

@keyframes loading-keyframes {
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes loading-keyframes-1-1 {
  50% {
    top: 86.4px;
    left: 86.4px; }
  100% {
    top: 28.8px;
    left: 28.8px; } }

@keyframes loading-keyframes-1-2 {
  50% {
    top: 57.6px;
    left: 86.4px; }
  100% {
    top: 28.8px;
    left: 0px; } }

@keyframes loading-keyframes-1-3 {
  50% {
    top: 28.8px;
    left: 86.4px; }
  100% {
    top: 28.8px;
    left: -28.8px; } }

@keyframes loading-keyframes-1-4 {
  50% {
    top: 0px;
    left: 86.4px; }
  100% {
    top: 28.8px;
    left: -57.6px; } }

@keyframes loading-keyframes-2-1 {
  50% {
    top: 86.4px;
    left: 57.6px; }
  100% {
    top: 0px;
    left: 28.8px; } }

@keyframes loading-keyframes-2-2 {
  50% {
    top: 57.6px;
    left: 57.6px; }
  100% {
    top: 0px;
    left: 0px; } }

@keyframes loading-keyframes-2-3 {
  50% {
    top: 28.8px;
    left: 57.6px; }
  100% {
    top: 0px;
    left: -28.8px; } }

@keyframes loading-keyframes-2-4 {
  50% {
    top: 0px;
    left: 57.6px; }
  100% {
    top: 0px;
    left: -57.6px; } }

@keyframes loading-keyframes-3-1 {
  50% {
    top: 86.4px;
    left: 28.8px; }
  100% {
    top: -28.8px;
    left: 28.8px; } }

@keyframes loading-keyframes-3-2 {
  50% {
    top: 57.6px;
    left: 28.8px; }
  100% {
    top: -28.8px;
    left: 0px; } }

@keyframes loading-keyframes-3-3 {
  50% {
    top: 28.8px;
    left: 28.8px; }
  100% {
    top: -28.8px;
    left: -28.8px; } }

@keyframes loading-keyframes-3-4 {
  50% {
    top: 0px;
    left: 28.8px; }
  100% {
    top: -28.8px;
    left: -57.6px; } }

@keyframes loading-keyframes-4-1 {
  50% {
    top: 86.4px;
    left: 0px; }
  100% {
    top: -57.6px;
    left: 28.8px; } }

@keyframes loading-keyframes-4-2 {
  50% {
    top: 57.6px;
    left: 0px; }
  100% {
    top: -57.6px;
    left: 0px; } }

@keyframes loading-keyframes-4-3 {
  50% {
    top: 28.8px;
    left: 0px; }
  100% {
    top: -57.6px;
    left: -28.8px; } }

@keyframes loading-keyframes-4-4 {
  50% {
    top: 0px;
    left: 0px; }
  100% {
    top: -57.6px;
    left: -57.6px; } }

/*# sourceMappingURL=index.css.map */